<style>
  .token {
    background-color: #EE4D64;
    border: 2px solid #EE4D64;
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 36px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
  }
</style>

<p>Olá <strong>{{student.name}}</strong></p>
<br />

<p>
  Segue abaixo token para acesso no App.
</p>

<br />
<p>
  <strong class="token">{{student.accessToken}}</strong>
</p>
<br />

<p>
  O token válido até você solicitar um novo.
</p>
